h4{
  text-align: center;
  font-size: 40px;
  color :black
}

body{
	background-size: cover;
	background-attachment: fix
}
 
body{
	text-align : center;
}

.doc ul{
	list-style : none;
}

.doc a,.doc a:visited{
     color: blue;
}


.doc {
  margin: 3% 30%;
}

.box {
  border: 2px solid white;
  padding: 10px;
  border-radius: 20px;
  height: 15px;
  margin-top: 15px;
  align-items: center;
}

